/* style.css */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #333;
  }
  
  .hero .sigma {
    padding: 100px 20px;
    text-align: center;
    font-weight: bold;
  }

  .positioned-text {
    position: absolute;
    top: 173px;   /* distance from the top */
    left: 698px;  /* distance from the left */
    font-size: 24px;
    color: black;
    font-family: 'Inter', sans-serif;
  }
  

  .sigma {
    position: absolute;
    top: 173px;   /* distance from the top */
    left: 698px;  /* distance from the left */
    font-size: 24px;
    color: black;
    font-family: 'Inter', sans-serif;
  }
  

  .positioned-image {
    position: absolute;
    left: 772px;
    top: 332.5px;
}

  